[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml = ">=1.0.1"
linkml-model = ">=1.0.0"
jsonasobj2 = "~=1.0, >=1.0.3"
pyldmod = "*"
mkdocs = "*"

[dev-packages]

[pipenv]
allow_prereleases = true
