[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml-runtime = "~=1.0, >=1.0.3"
linkml = ">=0.0.7"
linkml-model = "*"
jsonasobj2 = "~=1.0, >=1.0.3"
pyldmod = "*"
mkdocs = "*"

[dev-packages]
tox = "*"

[pipenv]
allow_prereleases = true


